
html {
    height: 100% !important;
}

body {
    background-color: black !important;
    color: white !important;
    
    display: flex !important;
    align-items: center !important;
    height: 100% !important;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


#descriere {
    margin-left: 2.3456789rem;
    /* max-width: 1000rem; */
}

li {
    font-size: 2rem;
    margin-bottom: 2rem;
}

img {
    margin-bottom: 1.23456789rem;
}